<body class="home">
<!-- JS
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../../assets/bootstrap.js"></script>
<script src="../../assets/jquery.prettyPhoto.js"></script>
<script src="../../assets/jquery.flexslider.js"></script>
<script src="../../assets/jquery.custom.js"></script>


    <!-- Color Bars (above header)-->
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <a href="<%=home_path%>"><img src="../../assets/piccolo-logo.png" alt="" /></a>

            <h5>Connect life and learning.</h5>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            <ul class="nav">
            <li>
                <%= link_to "Home", home_path %>
            </li>
     
             <li>
                <%= link_to "Gallery", gallery_path %>
             </li>
             <li>
                <%= link_to "Blog", blog_path %>
             </li>
             <li><%= link_to "Users", users_path %></li>
             <li class="active"><%= link_to "Profile", current_user %></li>
             <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
        </div>
        </div>
        
      </div><!-- End Header -->
      <div class="color-bar-2 color-bg"></div>
      <br><br><br><br><br>
      
    

      
    <div class="container">
    <div class="span3">
      
    </div>

    <div class="span5" style="text-align: center">
        <h1>Change Password</h1>
        
     
        <div class="text-center">
            <section class="">
              <h3>
              <% if @user.picture? %>
                <%= image_tag(@user.picture.url,size:("400x400"))%>
              <% else %>
                <img src="../../assets/gallery/no-photo.jpg" height="400" width="400" alt="user-avatar">
              <% end %>
                <br>
                <%= @user.name %>
              </h3>
              <h5><%= @user.email %></h5>
            </section>
        </div>
        <br>
        <hr>
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' , object: f.object%>
          <span class="picture">
          <label for="picture">Add a Picture:
            <%= f.file_field :picture,required:true, accept: 'image/jpeg,image/gif,image/png' %>
          </label>
          </span>
          <%= f.label :password %>
          <%= f.password_field :password,required:true, class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation,required:true, class: 'form-control' %>
          <br>
          <%= f.submit "Save changes", class: "btn btn-primary btn-lg" %>
           <button class="btn btn-default btn-lg"><%= link_to "Cancel", current_user %></button>
        <% end %>


    </div>
    </div>
  </div>

  <br><br><br><br><br>
  <script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<%= render 'shared/footer'%>
    
    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
</body>


