<body class="home">
<!-- JS
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../../assets/bootstrap.js"></script>
<script src="../../assets/jquery.prettyPhoto.js"></script>
<script src="../../assets/jquery.flexslider.js"></script>
<script src="../../assets/jquery.custom.js"></script>


    <!-- Color Bars (above header)-->
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <a href="index.htm"><img src="../../assets/piccolo-logo.png" alt="" /></a>
            <h5>Big Things... Small Packages</h5>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
         <div class="span7 navigation">
            <div class="navbar hidden-phone">
            <ul class="nav">
            <li>
                <%= link_to "Home", home_path %>
            </li>
     
             <li>
                <%= link_to "Gallery", gallery_path %>
             </li>
             <li>
                <%= link_to "Blog", blog_path %>
             </li>
             <li><%= link_to "Users", users_path %></li>
             <li class="active"><%= link_to "Profile", current_user %></li>
             <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
        </div>
        </div>
        
      </div><!-- End Header -->
      <div class="color-bar-2 color-bg"></div>
      <br><br><br><br><br>
     
    

    <% flash.each do |message_type, message| %>
          <div style="text-align: center " class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <div style="text-align: center">
      <div class="span3"></div>
      <div class="span6">
        <h2>Profile</h2>
        <br>
        <br>
          
          <% provide(:title, @user.name) %>
          <div class="text-center">
              <section class="">
                <h1>
                  <%= gravatar_for @user %>
                  <%= @user.name %>
                  <h5><%= @user.email %></h5>
                </h1>
              </section>

              <br>
            <% if @user.id == @current_user.id %>
              <p class="btn btn-default btn-lg"><a href="http://gravatar.com/emails" target="_blank">change avatar</a></p>
              <p class="btn btn-default btn-lg"><%= link_to "Change password", edit_user_path(current_user) %></p>
            <%end%>
          </div>
      </div>
    </div>
    
  </div>
  <br><br><br>
  <div class="color-bar-2 color-bg"></div>
  <br>
  <div class="span6 blog">
      <% if @user.microposts.any? %>
      <h3 style="text-align: center ">Microposts (<%= @user.microposts.count %>)</h3>
             <% @user.microposts.each do |micro| %>
             <article class="clearfix">
                
                <%if micro.picture?%>
                  <%= link_to image_tag(micro.picture.url,size:("260x220"), class: "align-left"), micro %>
                <% else %>
                <img src="../assets/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <% end %>

                <h4 class="title-bg"><%= link_to micro.title, micro %></h4>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i><%= micro.created_at %></li>
                            <li><% if micro.user.id == @current_user.id %>
                            <%= link_to "delete", micro, method: :delete,
                                                             data: { confirm: "You sure?" } %>
                            <% end %>
                            </li>
                            <li>
                              <p>Posted <%= time_ago_in_words(micro.created_at) %> ago.</p>
                            </li>
                            <li>
                              <%=micro.id%>
                            </li>
                        </ul>
                    </div>
            </article>
             <% end %>
             <%= will_paginate @microposts %>
            <% end %>
    </div>
    <div class="span6 blog">
      <% if @user.pictures.any? %>
      <h3 style="text-align: center ">Photos (<%= @user.pictures.count %>)</h3>
             <% @user.pictures.each do |photo| %>
             <article class="clearfix">
                
                <%if photo.photo?%>
                  <%= link_to image_tag(photo.photo.url,size:("260x220"), class: "align-left"), photo %>
                <% else %>
                <img src="../assets/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <% end %>

                <h4 class="title-bg"><%= link_to photo.title, photo %></h4>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i><%= photo.created_at %></li>
                            <li><% if photo.user.id == @current_user.id %>
                            <%= link_to "delete", photo, method: :delete,
                                                             data: { confirm: "You sure?" } %>
                            <% end %>
                            </li>
                            <li>
                              <p>Posted <%= time_ago_in_words(photo.created_at) %> ago.</p>
                            </li>
                            <li>
                              <%=photo.id%>
                            </li>
                        </ul>
                    </div>
            </article>
             <% end %>
             <%= will_paginate @pictures %>
            <% end %>
    </div>

  <br><br><br><br><br>

    <!-- Footer Area
        ================================================== -->

  <div class="footer-container"><!-- Begin Footer -->
      <div class="container">
          <div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>About Us</h5>
                   <img src="../../assets/piccolo-footer-logo.png" alt="Piccolo" /><br /><br />
                    <address>
                        <strong>Design Team</strong><br />
                        123 Main St, Suite 500<br />
                        New York, NY 12345<br />
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Tweets</h5>
                    <ul>
                        <li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>
                        <li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Posts</h5>
                     <ul class="post-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                        <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                        <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                        <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Flickr Photos</h5>
                    <ul class="img-feed">
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="../../assets/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Features</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 
    
    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
</body>


