<body class="home">
<!-- JS
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="../../assets/bootstrap.js"></script>
<script src="../../assets/jquery.prettyPhoto.js"></script>
<script src="../../assets/jquery.flexslider.js"></script>
<script src="../../assets/jquery.custom.js"></script>


    <!-- Color Bars (above header)-->
  <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <a href="<%=home_path%>"><img src="../assets/piccolo-logo.png" alt="" /></a>

            <h5>Connect life and learning.</h5>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
         <div class="span7 navigation">
            <div class="navbar hidden-phone">
            <ul class="nav">
            <li>
                <%= link_to "Home", home_path %>
            </li>
     
             <li>
                <%= link_to "Gallery", gallery_path %>
             </li>
             <li>
                <%= link_to "Blog", blog_path %>
             </li>
             <li><%= link_to "Users", users_path %></li>
             <li class="active"><%= link_to "Profile", current_user %></li>
             <li>
                <a><span data-toggle="modal" data-target="#signout"><span style="cursor:pointer">Log out</span></span></a>
             </li>
            </ul>
        </div>
        </div>
        
      </div><!-- End Header -->
      <div class="color-bar-2 color-bg"></div>
      <br><br><br><br><br>
     
     <!-- Exit  model page -->
    <%= render 'shared/modal_logout'%>
    

    <% flash.each do |message_type, message| %>
          <div style="text-align: center " class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <div style="text-align: center">
      <div class="span3"></div>
      <div class="span6">
        <h2>Profile</h2>
      
          
          <% provide(:title, @user.name) %>
          <div class="text-center">
              <section class="">
                <h1>
                  <% if @user.picture? %>
                    <%= image_tag(@user.picture.url,size:("400x400"))%>
                  <% else %>
                    <img src="../assets/gallery/no-photo.jpg" height="400" width="400" alt="user-avatar">
                  <% end %>
                  <br>
                  
                  <h3><%= @user.name %></h3>
                  <h5><%= @user.email %></h5>
                </h1>
              </section>

              <br>
            <% if @user.id == @current_user.id %>
              <p class="btn btn-default btn-lg"><%= link_to "Edit profile", edit_user_path(current_user) %></p>
            <%end%>
          </div>
      </div>
    </div>
    
  </div>
  <br><br><br>
  <div class="color-bar-2 color-bg"></div>
  <br>
  <div class="span6 blog">
      <% if @user.microposts.any? %>
      <h3 style="text-align: center ">Microposts (<%= @user.microposts.count %>)</h3>
             <% @user.microposts.each do |micro| %>
             <article class="clearfix">
                
                <%if micro.picture?%>
                  <%= link_to image_tag(micro.picture.url,size:("260x220"), class: "align-left"), micro %>
                <% else %>
                <img src="../assets/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <% end %>

                <h4 class="title-bg"><%= link_to micro.title, micro %></h4>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i><%= micro.created_at %></li>
                            <li><% if micro.user.id == @current_user.id %>
                            <%= link_to "delete", micro, method: :delete,
                                                             data: { confirm: "You sure?" } %>
                            <% end %>
                            </li>
                            <li>
                              <p>Posted <%= time_ago_in_words(micro.created_at) %> ago.</p>
                            </li>
                            <li>
                              <%=micro.id%>
                            </li>
                        </ul>
                    </div>
            </article>
             <% end %>
             <%= will_paginate @microposts %>
            <% end %>
    </div>
    <div class="span6 blog">
      <% if @user.pictures.any? %>
      <h3 style="text-align: center ">Photos (<%= @user.pictures.count %>)</h3>
             <% @user.pictures.each do |photo| %>
             <article class="clearfix">
                
                <%if photo.photo?%>
                  <%= link_to image_tag(photo.photo.url,size:("260x220"), class: "align-left"), photo %>
                <% else %>
                <img src="../assets/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <% end %>

                <h4 class="title-bg"><%= link_to photo.title, photo %></h4>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i><%= photo.created_at %></li>
                            <li><% if photo.user.id == @current_user.id %>
                            <%= link_to "delete", photo, method: :delete,
                                                             data: { confirm: "You sure?" } %>
                            <% end %>
                            </li>
                            <li>
                              <p>Posted <%= time_ago_in_words(photo.created_at) %> ago.</p>
                            </li>
                            <li>
                              <%=photo.id%>
                            </li>
                        </ul>
                    </div>
            </article>
             <% end %>
             <%= will_paginate @pictures %>
            <% end %>
    </div>

  <br><br><br><br><br>

   <%= render 'shared/footer'%>
    
    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>    
</body>


