 <!-- Footer Area
        ================================================== -->

  <div class="footer-container"><!-- Begin Footer -->
      <div class="container">
          <div class="row footer-row">
                <div class="span3 footer-col">
                   <h5></h5>
                   <br><br>
                   <img src="../../assets/piccolo-footer-logo.png" alt="Piccolo" /><br /><br />
                    
                </div>
                <div class="span3 footer-col">
                    <h5>About Developers</h5>
                    <strong>Ariet Nyshanbaev</strong>
                    <br>
                    <strong>Dmitriy Pokhilenko</strong>
                </div>
                <div style="text-align:center" class="span3 footer-col">
                    <h5 >Contacts</h5>
                    <ul class="social-icons">
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li><a target="_blank" href="https://www.facebook.com/groups/515716185165842/" class="social-icon facebook"></a></li>
                        <li><a target="_blank" href="https://twitter.com/Iaauinfo" class="social-icon twitter"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <address>
                        <h5 >Address</h5>
                        Ankara Street 1/8<br />
                        Tunguch, 720048, Bishkek<br />
                    </address>
                </div>
            </div>


            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2015 U-Life. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="<%=home_path%>">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Profile", current_user %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Gallery", gallery_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Users", users_path %>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 